.opening-header {
    padding-left: 75px;
    padding-right: 75px;
}

.text-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.profile-pic {
    height: 100%;
}

.container-text {
    padding-left: 75px;
    padding-right: 75px;
}

.headline {
    margin-top: 40px;
}