.image-container {
    width: 90%;
    height: 90%;
    background-color: rgb(224, 224, 255);;
}

.gif-description {
    font-size: 18px;
    text-align: left;
}

.preview {
    border-radius: 10px;
    background-color: rgb(154, 189, 253);
}