.search-button {
    border: none;
    background: none;
    position: relative;
    left: -33px;
    top: 1px;
}

.heading {
    background: #CBF7ED;
}
.brand {
    color: black;
    font-size: 25px;
}