.heading {
    background: #CBF7ED;
}
.brand {
    color: black;
    font-size: 25px;
}

.navbar-nav { 
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
    color: black;
}

.nav-link {
    color: black;
}