.heading {
    background-color: rgb(142, 201, 188) !important;
}
.brand {
    color: black;
    font-size: 25px;
}

.navbar-nav { 
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
    color: black;
}

.nav-link {
    color: black;
}

.login-logout {
    float: right;
}