.bottom-container {
    width: 100%;
    display: inline-block;
}

.bottom-notice {
    color: white;
    background-color: rgb(50, 113, 146);
    color: white;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add-poll {
    background: none;
    font-size: 50px;
    position: fixed;
    bottom: 10px;
    left: 95%;
    z-index: 1;
}