.poll {
    background: #86C3E4;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.inner-content {

    .poll-author-name {
        font-weight: 500;
        font-size: 18px;
        color: black;
    }
    
    .poll-question-text {
        font-size: 18px;
        font-weight: 600;
    }
    
    .poll-byline {
        font-size: 10px;
        font-weight: 400;
        font-style: italic;
    }

    .poll-changing-btns {
        float: right;
    }

    .poll-edit-btn:hover {
        color: white;
    }

    .poll-delete-btn {
        margin-left: 5px;
    }

    .poll-delete-btn:hover {
        color: white;
    }

}

.option {
    padding: 4px;
}

.details-link {
    width: 100%;
    padding: 5px;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(50, 113, 146);
    color: white;
}

.option-bar {
    height: 2rem;
}