.poll {
    background: #86C3E4;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.inner-content {
    // background-color: red;
    width: 90%;
    height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.option {
    padding: 4px;

    .question {

    }
}

